<div class="container">
    <div rtl>
        <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
        <div class="actions">
            <a mat-raised-button class="actions-main" color="primary" (click)="loadPatients()"
               *ngIf="!(patients$| async)?.length">
                {{ 'stms.patients.get-patients' | translate }}
            </a>
            <mat-spinner class="actions__loader" *ngIf="isLoading$|async"></mat-spinner>
        </div>
        <st-item-list [items]="patients$| async" (addToFollowClicked)="addToFollowList($event)"></st-item-list>
    </div>
</div>
